{% extends "main/base.html" %}

{% block title %}{{meal.mealName}}{% endblock %}

{% block head %}
<link href='https://css.gg/search.css' rel='stylesheet'>
{% load static %}
<link rel="stylesheet" href={% static "main/recipestyle.css" %}>
{% endblock %}

{% block content %}
<div id="meal-name">
    <h2>{{meal.mealName}}</h2>
</div>
<div class="ingredient-container">
    <h3>Ingredients:</h3>

    <div>
        <ul>
            {% for ingredient in ingredients %}
            <li><span class="the-ingredient">{{ingredient.ingredientName}}</span></li>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="instructions-container">
    <h3>Instructions:</h3>
    <ol>
        {% for step in steps %}
        <li><span class="the-instruction">{{step}}</span></li>
        {% endfor %}
    </ol>
</div>
{% endblock %}